[Unit]
Description=Start pdmenu  at boot".
                                                                                
[Service]
Type=simple
ExecStart=/usr/bin/pdmenu
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
                                                                                
[Install]
WantedBy=multi-user.target
