# Reload changes with control+x followed by control+r
set echo-control-characters off
"\e[A": history-search-backward
"\e[B": history-search-forward

#Macros
# F10 load text menu
"\e[21~":"\C-k \C-u/usr/bin/pdmenu -squn\n;dialog --infobox \"Press F10 to return to the menu\"\n"
